.hero {
  overflow-x: hidden;
}

.about {
  overflow-x: hidden;
}
.container {
  overflow-x: hidden;
}
.navbar {
  background: #0f0f0f;
  box-shadow: 0 1px 0 #ffffff;
}

#hero {
  background: #0f0f0f;
  color: #ffffff;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.5rem;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

h5.review-stat {
  font-size: 1.2rem;
  font-weight: 200;
}

p {
  margin-top: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
}
.separator {
  height: 10px;
  background: linear-gradient(to top, #ffffff, #fbc634);
}
.separator2 {
  height: 10px;
  background: linear-gradient(to top, #fbc634, #ffffff);
}

#skills {
  background: #0f0f0f;
  color: #ffffff;
}
#projects {
  background: #ffffff;
  color: #0f0f0f;
}

.height-100 .card {
  width: 380px;
  border: none;
  height: 280px;
}

.ratings {
  margin-right: 10px;
}

.ratings i {
  color: #cecece;
  font-size: 32px;
}

.rating-color {
  color: #fbc634 !important;
}

.review-count {
  font-weight: 400;
  margin-bottom: 2px;
  font-size: 24px !important;
}

.small-ratings i {
  color: #cecece;
}

.review-stat {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 2px;
}

.footer {
  background: #0f0f0f;
  color: #ffffff;
}
strong {
  font-size: 1.2rem;
}
.card-relief {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-relief:hover {
  transform: scale(2);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 8);
}
a:hover {
  transform: scale(1.3);
}
#about .img-fluid {
  box-shadow: 0 16px 32px rgba(0, 0, 0, 2);
}
